POSTGRES_DB=enterprise_copilot
POSTGRES_USER=abbasali
POSTGRES_PASSWORD=password123

DATABASE_URL="postgresql://abbasali:password123@localhost:5432/enterprise_copilot"

S3_ACCESS_KEY=test
S3_SECRET_KEY=test
S3_BUCKET=enterprise-copilot

LOCALSTACK_AUTH_TOKEN=ls-YAXANACA-ZosE-YOlA-SOMe-xAXU2550dd04